In [ ]:
# wget dataset: https://colab.research.google.com/github/Shaam93/Building-a-classifer-with-Pytorch/blob/master/Uploading_Data_to_Google_Colab.ipynb#scrollTo=z55wuhC_Lm6E
# untar dataset: https://colab.research.google.com/drive/14ZuNYfF_cKbyWeucM5SoNTu1Hj7DmqjB#scrollTo=AxKoHY4Lqjc3
# Delete superflous files: https://stackoverflow.com/questions/20994280/how-to-delete-every-files-extracted-after-extracting-and-doing-required-tasks

In [ ]:
# DONT ATTACH GOOGLE DRIVE. IT MAKES EVERYTING SLOW.
# from google.colab import drive
# drive.mount('/content/drive', force_remount=True)

In [ ]:
#  download dataset from aistages using wget
!wget -cq <DATASET_URL>

In [ ]:
!ls

sample_data  train.tar.gz

In [ ]:
import os

# define paths exactly same as Upstage server environment
TAR_PATH = "/content/train.tar.gz"
PARENT_DATA_PATH = "/content/input/"
DATA_PATH = os.path.join(PARENT_DATA_PATH, "data")

In [ ]:
!mkdir $PARENT_DATA_PATH # make parent directory first
!mkdir $DATA_PATH # make child directory

In [ ]:
from IPython.display import clear_output

!tar -xzvf $TAR_PATH -C $DATA_PATH
clear_output() # clear jupyter notebook output for memory saving purpose

In [ ]:
import os
import glob
# remove superflous files such as "._xxxxx.jpg"

TRAIN_IMGS_DATASET_PATH = "/content/input/data/train/images"
EVAL_IMGS_DATASET_PATH = "/content/input/data/eval/images"

list_individuals = glob.glob(os.path.join(TRAIN_IMGS_DATASET_PATH, "*"))
print(len(list_individuals) ,list_individuals[:10])

2700 ['/content/input/data/train/images/006243_male_Asian_19', '/content/input/data/train/images/000554_female_Asian_54', '/content/input/data/train/images/006101_male_Asian_19', '/content/input/data/train/images/000559_female_Asian_59', '/content/input/data/train/images/004412_male_Asian_19', '/content/input/data/train/images/001587_female_Asian_20', '/content/input/data/train/images/006139_male_Asian_19', '/content/input/data/train/images/001647_male_Asian_46', '/content/input/data/train/images/004313_female_Asian_56', '/content/input/data/train/images/001186_female_Asian_50']

In [ ]:
# superflous folders that start with ._ exist: it should be 2700 folders, not 5400
len(os.listdir(TRAIN_IMGS_DATASET_PATH))

5400

In [ ]:
# remove superflous folders that start with ._
superflous_folders = glob.glob(os.path.join(TRAIN_IMGS_DATASET_PATH,"._*"))
print(len(superflous_folders),superflous_folders[:10])
for item in superflous_folders:
  os.remove(item)

2700 ['/content/input/data/train/images/._001457_male_Asian_59', '/content/input/data/train/images/._006678_male_Asian_19', '/content/input/data/train/images/._006513_male_Asian_19', '/content/input/data/train/images/._000801_male_Asian_59', '/content/input/data/train/images/._004475_male_Asian_25', '/content/input/data/train/images/._005263_male_Asian_20', '/content/input/data/train/images/._003828_female_Asian_29', '/content/input/data/train/images/._006167_female_Asian_18', '/content/input/data/train/images/._004070_female_Asian_55', '/content/input/data/train/images/._005447_female_Asian_52']

In [ ]:
# superflous folders are removed, now it is 2700 folders
len(os.listdir(TRAIN_IMGS_DATASET_PATH))

2700

In [ ]:
# check every files inside sample folder including hidden ._superflous-files using listdir
personal_id = "001771_female_Asian_54"
os.listdir(os.path.join(TRAIN_IMGS_DATASET_PATH, personal_id))

['mask5.jpg',
 '._mask2.jpg',
 '._mask1.jpg',
 'mask2.jpg',
 'mask1.jpg',
 '._mask3.jpg',
 '._incorrect_mask.jpg',
 'mask3.jpg',
 'mask4.jpg',
 '._normal.jpg',
 'normal.jpg',
 '._mask5.jpg',
 'incorrect_mask.jpg',
 '._mask4.jpg']

In [ ]:
# remove ._xxxxx.jpg files
list_folders = glob.glob(os.path.join(TRAIN_IMGS_DATASET_PATH,"*"))
for folder in list_folders:
  superflous_files = glob.glob(os.path.join(folder,"._*"))
  for file in superflous_files:
    os.remove(file)

In [ ]:
# check every files inside sample folder including hidden .files using listdir
personal_id = "001771_female_Asian_54"
os.listdir(os.path.join(TRAIN_IMGS_DATASET_PATH, personal_id))

['mask5.jpg',
 'mask2.jpg',
 'mask1.jpg',
 'mask3.jpg',
 'mask4.jpg',
 'normal.jpg',
 'incorrect_mask.jpg']

In [ ]:
# check every files inside sample folder including hidden .files using listdir
personal_id = "003012_female_Asian_18"
os.listdir(os.path.join(TRAIN_IMGS_DATASET_PATH, personal_id))

['mask5.jpg',
 'mask2.jpg',
 'mask1.jpg',
 'mask3.jpg',
 'mask4.jpg',
 'normal.jpg',
 'incorrect_mask.jpg']

In [ ]:
# check whether the dataset is untarred properly
for individual_name in list_individuals:
  individual_path = os.path.join(TRAIN_IMGS_DATASET_PATH, individual_name)
  
  # check whether dataset is properly untarred
  jpg_file_list = glob.glob(f"{individual_path}/*.jpg")
  jpeg_file_list = glob.glob(f"{individual_path}/*.jpeg")
  png_file_list = glob.glob(f"{individual_path}/*.png")
  list_images = jpg_file_list + jpeg_file_list + png_file_list
  num_jpg_images = len(list_images)
  # print(num_jpg_images)
  if num_jpg_images == 7:
    pass
  else:
    print(f"{individual_path} has a problem during untar process, only has {num_jpg_images} images")
    pass
print("process cleared, untarred properly")

process cleared, untarred properly

In [ ]:
import os
import glob
# remove superflous files such as "._xxxxx.jpg" on evaluation dataset

superflous_files = glob.glob(os.path.join(EVAL_IMGS_DATASET_PATH,"._*"))
print(len(superflous_files),superflous_files[:10])
for item in superflous_files:
  os.remove(item)

12600 ['/content/input/data/eval/images/._5236974c5b1f97672a7b004e92ba7bf114066fe7.jpg', '/content/input/data/eval/images/._e2893550e1f06e112b57e437daf95ac6f1320092.jpg', '/content/input/data/eval/images/._46d48148d05bcdab308455808a0668084ea4e6ef.jpg', '/content/input/data/eval/images/._98e5fdcec345b0a259cbbcd19ac682c42e283456.jpg', '/content/input/data/eval/images/._67b0ee15291c0a4513fbc4d87ae2547609e02279.jpg', '/content/input/data/eval/images/._61db319a7223ff9db611aa07d8395a6ccee76df9.jpg', '/content/input/data/eval/images/._7f806564a8edcc54c33e635c81d924541f8905fd.jpg', '/content/input/data/eval/images/._2296e801a9dfe2b7ad997817080fe91447336895.jpg', '/content/input/data/eval/images/._1a9e4e6152c06fb7e6fe5e5dd9385f837330142e.jpg', '/content/input/data/eval/images/._ba5ea3f2ec7aeca469807d6aeea740c8e1fa1431.jpg']

In [ ]:
print(f"number of images: {len(os.listdir(EVAL_IMGS_DATASET_PATH))}")

number of images: 12600

In [ ]:
# remove original .tar.gz file
!rm $TAR_PATH

### Crop face with facenet_pytorch
- [Facenet Pytorch Quickstart](https://github.com/timesler/facenet-pytorch#quick-start)
- [inference based on pretrained network sample code](https://github.com/timesler/facenet-pytorch/blob/master/examples/infer.ipynb)

In [ ]:
# https://github.com/timesler/facenet-pytorch
!pip install facenet-pytorch

Collecting facenet-pytorch
  Downloading facenet_pytorch-2.5.2-py3-none-any.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 5.0 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from facenet-pytorch) (2.23.0)
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from facenet-pytorch) (0.10.0+cu102)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from facenet-pytorch) (1.19.5)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from facenet-pytorch) (7.1.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->facenet-pytorch) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->facenet-pytorch) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->facenet-pytorch) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->facenet-pytorch) (3.0.4)
Requirement already satisfied: torch==1.9.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->facenet-pytorch) (1.9.0+cu102)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch==1.9.0->torchvision->facenet-pytorch) (3.7.4.3)
Installing collected packages: facenet-pytorch
Successfully installed facenet-pytorch-2.5.2

### Crop face with retinaface

- [RetinaFace Pytorch](https://github.com/biubug6/Pytorch_Retinaface#installation)
- [Retinaface Library](https://github.com/serengil/retinaface)

In [ ]:
# https://github.com/serengil/retinaface
!pip install retina-face

Collecting retina-face
  Downloading retina_face-0.0.5-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from retina-face) (1.19.5)
Requirement already satisfied: opencv-python>=3.4.4 in /usr/local/lib/python3.7/dist-packages (from retina-face) (4.1.2.30)
Requirement already satisfied: tensorflow>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from retina-face) (2.6.0)
Requirement already satisfied: Pillow>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from retina-face) (7.1.2)
Collecting gdown>=3.10.1
  Downloading gdown-3.13.0.tar.gz (9.3 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown>=3.10.1->retina-face) (4.62.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown>=3.10.1->retina-face) (3.0.12)
Requirement already satisfied: requests[socks]>=2.12.0 in /usr/local/lib/python3.7/dist-packages (from gdown>=3.10.1->retina-face) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown>=3.10.1->retina-face) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.12.0->gdown>=3.10.1->retina-face) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.12.0->gdown>=3.10.1->retina-face) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.12.0->gdown>=3.10.1->retina-face) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.12.0->gdown>=3.10.1->retina-face) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.12.0->gdown>=3.10.1->retina-face) (1.7.1)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (3.3.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (0.12.0)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (1.6.3)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (0.37.0)
Requirement already satisfied: tensorflow-estimator~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (2.6.0)
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (3.1.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (3.7.4.3)
Requirement already satisfied: grpcio<2.0,>=1.37.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (1.39.0)
Requirement already satisfied: clang~=5.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (5.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (3.17.3)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (1.12)
Requirement already satisfied: keras~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (2.6.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (1.12.1)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (1.1.2)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (0.4.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (1.1.0)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (0.2.0)
Requirement already satisfied: tensorboard~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=1.9.0->retina-face) (2.6.0)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py~=3.1.0->tensorflow>=1.9.0->retina-face) (1.5.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (3.3.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (1.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (0.4.5)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (57.4.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (1.0.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (1.34.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (4.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (1.3.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (4.6.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard~=2.6->tensorflow>=1.9.0->retina-face) (3.5.0)
Building wheels for collected packages: gdown
  Building wheel for gdown (PEP 517) ... done
  Created wheel for gdown: filename=gdown-3.13.0-py3-none-any.whl size=9045 sha256=293ec98f50a27cf3177c3fd33f2bf1e23f4f6885957cf0a222aeac36a5c05139
  Stored in directory: /root/.cache/pip/wheels/2f/2a/2f/86449b6bdbaa9aef873f68332b68be6bfbc386b9219f47157d
Successfully built gdown
Installing collected packages: gdown, retina-face
  Attempting uninstall: gdown
    Found existing installation: gdown 3.6.4
    Uninstalling gdown-3.6.4:
      Successfully uninstalled gdown-3.6.4
Successfully installed gdown-3.13.0 retina-face-0.0.5

## Make training dataset

In [ ]:
import torch 
import torch.nn as nn 
import pandas as pd 
import numpy as np 
import os
import cv2
from facenet_pytorch import MTCNN


device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')
print('Running on device: {}'.format(device))
mtcnn = MTCNN(keep_all=True, device=device)

workers = 0 if os.name == 'nt' else 4
print(workers)

Running on device: cuda:0
4

In [ ]:
# sample input shape
image_info = cv2.imread(list_images[0])
image_info.shape

(512, 384, 3)

In [ ]:
# sample output shape
img=cv2.imread(list_images[0])
img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
boxes, probs, landmarks = mtcnn.detect(img, landmarks=True)

print("box:", boxes) 
print("probability", probs)
print("landmarks", landmarks)

box: [[101.125046  99.02063  263.8352   333.50647 ]]
probability [0.7900879]
landmarks [[[162.70352 191.05879]
  [235.86057 201.46921]
  [192.67892 234.7422 ]
  [143.67383 282.0083 ]
  [204.18039 292.61618]]]

/usr/local/lib/python3.7/dist-packages/torch/nn/functional.py:718: UserWarning: Named tensors and all their associated APIs are an experimental feature and subject to change. Please do not use them for anything important until they are released as stable. (Triggered internally at  /pytorch/c10/core/TensorImpl.h:1156.)
  return torch.max_pool2d(input, kernel_size, stride, padding, dilation, ceil_mode)

In [ ]:
landmarks[0, 1]

array([235.86057, 201.46921], dtype=float32)

In [ ]:
# read training dataset
TRAIN_PATH = "/content/input/data/train"
df_label = pd.read_csv(os.path.join(TRAIN_PATH, "train.csv"))
df_label.head()

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54
3  000005  female  Asian   58  000005_female_Asian_58
4  000006  female  Asian   59  000006_female_Asian_59

In [ ]:
# count the number of folders in TRAIN_IMGS_DATASET_PATH ( = number of profiles )
train_image_paths = glob.glob(os.path.join(TRAIN_IMGS_DATASET_PATH, "*"))
print(len(train_image_paths), train_image_paths[0])

/content/input/data/train/images/006243_male_Asian_19 2700

In [ ]:
from tqdm.notebook import tqdm
from retinaface import RetinaFace
import glob

# make empty dataframe
df_image = pd.DataFrame({})
cnt = 0 # intialize iteration count

# padding value before cropping
X_PADDING = 20 
Y_PADDING = 30 # gave more padding due to include mask on the chin & hair style

# iterrate rows for the given training dataset
for index, row in tqdm(df_label.iterrows()):  
  
  # get default values
  train_image_paths = []
  id = row["id"]
  gender = row["gender"]
  race = row["race"]
  age = row["age"]
  profile = row["path"]

  profile_path = os.path.join(TRAIN_IMGS_DATASET_PATH, profile)
  # print(profile_path)

  # get list of images from the given profile path
  jpg_file_list = glob.glob(f"{profile_path}/*.jpg")
  jpeg_file_list = glob.glob(f"{profile_path}/*.jpeg")
  png_file_list = glob.glob(f"{profile_path}/*.png")
  list_images = jpg_file_list + jpeg_file_list + png_file_list
  # print(list_images)
  
  for image_file_path in list_images:
    cnt += 1
    
    # read image and extract information using mtcnn
    img = cv2.imread(image_file_path)
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    boxes, probs, landmarks = mtcnn.detect(img, landmarks=True)
  
    # default detection with mtcnn 
    if probs[0]:
      # print("solved with mtcnn")
      # save face bounding box information
      xmin = int(boxes[0, 0]) - X_PADDING
      ymin = int(boxes[0, 1]) - Y_PADDING
      xmax = int(boxes[0, 2]) + X_PADDING
      ymax = int(boxes[0, 3]) + Y_PADDING
      
      # save landmark information
      left_eye = landmarks[0, 0]
      right_eye = landmarks[0, 1]
      mouth_left = landmarks[0, 2]
      mouth_right = landmarks[0, 3]
      nose = landmarks[0, 4]
    
    # if mtcnn fails, use retinaface
    else:
      result_detected = RetinaFace.detect_faces(image_file_path)
      # print(result_detected)

      # try retinaface to resolve,:
      if type(result_detected) == dict:
        print("resolving with retinaface: ", image_file_path)
        # save face bounding box information
        xmin = int(result_detected["face_1"]["facial_area"][0]) - X_PADDING
        ymin = int(result_detected["face_1"]["facial_area"][1]) - Y_PADDING
        xmax = int(result_detected["face_1"]["facial_area"][2]) + X_PADDING
        ymax = int(result_detected["face_1"]["facial_area"][3]) + Y_PADDING
        
        # save landmark information
        face_landmarks = result_detected["face_1"]["landmarks"]
        left_eye = face_landmarks["left_eye"]
        right_eye = face_landmarks["right_eye"]
        mouth_left = face_landmarks["mouth_left"]
        mouth_right = face_landmarks["mouth_right"]
        nose = face_landmarks["nose"]
      
      # if both of the detection fails, center crop
      elif type(result_detected) == tuple:
        print("this one is causing trouble: ", image_file_path)
        
        # manually set coordinates
        # xmin = 50
        # ymin = 100
        # xmax = 350
        # ymax = 400

        xmin = 80
        ymin = 50
        xmax = 80 + 220
        ymax = 50 + 320


        # leave landmark information empty
        face_landmarks = left_eye = right_eye = np.nan
        mouth_left = mouth_right = nose = np.nan
      
    # add row to the df_images with the extracted information
    df_image = df_image.append(
      {
        "id":id,
        "gender":gender,        
        "race":race,
        "age":age,        
        "path": profile,
        "image_file_path": image_file_path,
        "xmin": xmin,
        "ymin": ymin,
        "xmax": xmax,
        "ymax": ymax,
        "left_eye": left_eye,
        "right_eye": right_eye,
        "mouth_left": mouth_left,
        "mouth_right": mouth_right,
        "nose": nose
      }, ignore_index=True)
  
    # print data information every 100 iterations
    if cnt % 100 == 0:
      print(df_image.shape)
      print(df_image.info())
      print(df_image.tail())
  
df_image.head(10)

0it [00:00, ?it/s]

Streaming output truncated to the last 5000 lines.
4395  25.0  female  001299  ...  101.0  333.0   95.0
4396  21.0  female  001301  ...   85.0  355.0  116.0
4397  21.0  female  001301  ...   82.0  350.0   83.0
4398  21.0  female  001301  ...   79.0  383.0  127.0
4399  21.0  female  001301  ...   87.0  344.0  105.0

[5 rows x 15 columns]
(4500, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              4500 non-null   float64
 1   gender           4500 non-null   object
 2   id               4500 non-null   object
 3   image_file_path  4500 non-null   object
 4   left_eye         4476 non-null   object
 5   mouth_left       4476 non-null   object
 6   mouth_right      4476 non-null   object
 7   nose             4476 non-null   object
 8   path             4500 non-null   object
 9   race             4500 non-null   object
 10  right_eye        4476 non-null   object
 11  xmax             4500 non-null   float64
 12  xmin             4500 non-null   float64
 13  ymax             4500 non-null   float64
 14  ymin             4500 non-null   float64
dtypes: float64(5), object(10)
memory usage: 527.5+ KB
None
       age  gender      id  ...  xmin   ymax  ymin
4495  27.0  female  001321  ...  72.0  381.0  57.0
4496  27.0  female  001321  ...  56.0  408.0  67.0
4497  27.0  female  001321  ...  57.0  412.0  57.0
4498  27.0  female  001321  ...  63.0  407.0  53.0
4499  27.0  female  001321  ...  75.0  388.0  58.0

[5 rows x 15 columns]
(4600, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              4600 non-null   float64
 1   gender           4600 non-null   object
 2   id               4600 non-null   object
 3   image_file_path  4600 non-null   object
 4   left_eye         4576 non-null   object
 5   mouth_left       4576 non-null   object
 6   mouth_right      4576 non-null   object
 7   nose             4576 non-null   object
 8   path             4600 non-null   object
 9   race             4600 non-null   object
 10  right_eye        4576 non-null   object
 11  xmax             4600 non-null   float64
 12  xmin             4600 non-null   float64
 13  ymax             4600 non-null   float64
 14  ymin             4600 non-null   float64
dtypes: float64(5), object(10)
memory usage: 539.2+ KB
None
       age gender      id  ...   xmin   ymax   ymin
4595  23.0   male  001340  ...   71.0  377.0  208.0
4596  23.0   male  001340  ...   67.0  426.0  167.0
4597  23.0   male  001340  ...  107.0  342.0  155.0
4598  23.0   male  001340  ...  102.0  338.0  159.0
4599  58.0   male  001341  ...  115.0  355.0  146.0

[5 rows x 15 columns]
resolving with retinaface:  /content/input/data/train/images/001355_female_Asian_22/mask4.jpg
(4700, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              4700 non-null   float64
 1   gender           4700 non-null   object
 2   id               4700 non-null   object
 3   image_file_path  4700 non-null   object
 4   left_eye         4676 non-null   object
 5   mouth_left       4676 non-null   object
 6   mouth_right      4676 non-null   object
 7   nose             4676 non-null   object
 8   path             4700 non-null   object
 9   race             4700 non-null   object
 10  right_eye        4676 non-null   object
 11  xmax             4700 non-null   float64
 12  xmin             4700 non-null   float64
 13  ymax             4700 non-null   float64
 14  ymin             4700 non-null   float64
dtypes: float64(5), object(10)
memory usage: 550.9+ KB
None
       age  gender      id  ...   xmin   ymax   ymin
4695  28.0  female  001362  ...   70.0  363.0   79.0
4696  28.0  female  001362  ...   70.0  360.0   67.0
4697  60.0  female  001363  ...  108.0  351.0  142.0
4698  60.0  female  001363  ...   99.0  372.0  161.0
4699  60.0  female  001363  ...   93.0  377.0  159.0

[5 rows x 15 columns]
resolving with retinaface:  /content/input/data/train/images/001363_female_Asian_60/mask4.jpg
(4800, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              4800 non-null   float64
 1   gender           4800 non-null   object
 2   id               4800 non-null   object
 3   image_file_path  4800 non-null   object
 4   left_eye         4776 non-null   object
 5   mouth_left       4776 non-null   object
 6   mouth_right      4776 non-null   object
 7   nose             4776 non-null   object
 8   path             4800 non-null   object
 9   race             4800 non-null   object
 10  right_eye        4776 non-null   object
 11  xmax             4800 non-null   float64
 12  xmin             4800 non-null   float64
 13  ymax             4800 non-null   float64
 14  ymin             4800 non-null   float64
dtypes: float64(5), object(10)
memory usage: 562.6+ KB
None
       age gender      id  ...  xmin   ymax   ymin
4795  21.0   male  001389  ...  89.0  356.0   87.0
4796  21.0   male  001389  ...  76.0  355.0   98.0
4797  21.0   male  001389  ...  76.0  369.0   82.0
4798  21.0   male  001389  ...  71.0  331.0   89.0
4799  21.0   male  001389  ...  92.0  349.0  108.0

[5 rows x 15 columns]
(4900, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4900 entries, 0 to 4899
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              4900 non-null   float64
 1   gender           4900 non-null   object
 2   id               4900 non-null   object
 3   image_file_path  4900 non-null   object
 4   left_eye         4876 non-null   object
 5   mouth_left       4876 non-null   object
 6   mouth_right      4876 non-null   object
 7   nose             4876 non-null   object
 8   path             4900 non-null   object
 9   race             4900 non-null   object
 10  right_eye        4876 non-null   object
 11  xmax             4900 non-null   float64
 12  xmin             4900 non-null   float64
 13  ymax             4900 non-null   float64
 14  ymin             4900 non-null   float64
dtypes: float64(5), object(10)
memory usage: 574.3+ KB
None
       age gender      id  ...   xmin   ymax   ymin
4895  57.0   male  001413  ...   85.0  394.0  113.0
4896  57.0   male  001413  ...   75.0  429.0  140.0
4897  57.0   male  001413  ...   74.0  432.0  138.0
4898  57.0   male  001413  ...  100.0  398.0  127.0
4899  57.0   male  001413  ...   94.0  381.0  120.0

[5 rows x 15 columns]
(5000, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5000 non-null   float64
 1   gender           5000 non-null   object
 2   id               5000 non-null   object
 3   image_file_path  5000 non-null   object
 4   left_eye         4976 non-null   object
 5   mouth_left       4976 non-null   object
 6   mouth_right      4976 non-null   object
 7   nose             4976 non-null   object
 8   path             5000 non-null   object
 9   race             5000 non-null   object
 10  right_eye        4976 non-null   object
 11  xmax             5000 non-null   float64
 12  xmin             5000 non-null   float64
 13  ymax             5000 non-null   float64
 14  ymin             5000 non-null   float64
dtypes: float64(5), object(10)
memory usage: 586.1+ KB
None
       age  gender      id  ...   xmin   ymax   ymin
4995  43.0  female  001442  ...   91.0  383.0  124.0
4996  43.0  female  001442  ...  114.0  368.0  152.0
4997  43.0  female  001442  ...  109.0  355.0  149.0
4998  45.0  female  001443  ...  101.0  355.0  124.0
4999  45.0  female  001443  ...   99.0  353.0  115.0

[5 rows x 15 columns]
(5100, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5100 non-null   float64
 1   gender           5100 non-null   object
 2   id               5100 non-null   object
 3   image_file_path  5100 non-null   object
 4   left_eye         5076 non-null   object
 5   mouth_left       5076 non-null   object
 6   mouth_right      5076 non-null   object
 7   nose             5076 non-null   object
 8   path             5100 non-null   object
 9   race             5100 non-null   object
 10  right_eye        5076 non-null   object
 11  xmax             5100 non-null   float64
 12  xmin             5100 non-null   float64
 13  ymax             5100 non-null   float64
 14  ymin             5100 non-null   float64
dtypes: float64(5), object(10)
memory usage: 597.8+ KB
None
       age  gender      id  ...   xmin   ymax   ymin
5095  60.0  female  001459  ...  101.0  335.0  129.0
5096  58.0  female  001460  ...  104.0  362.0  163.0
5097  58.0  female  001460  ...   97.0  367.0  160.0
5098  58.0  female  001460  ...  117.0  346.0  160.0
5099  58.0  female  001460  ...  110.0  375.0  164.0

[5 rows x 15 columns]
resolving with retinaface:  /content/input/data/train/images/001464_male_Asian_60/mask3.jpg
resolving with retinaface:  /content/input/data/train/images/001464_male_Asian_60/mask4.jpg
resolving with retinaface:  /content/input/data/train/images/001471_female_Asian_60/mask1.jpg
(5200, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5200 non-null   float64
 1   gender           5200 non-null   object
 2   id               5200 non-null   object
 3   image_file_path  5200 non-null   object
 4   left_eye         5176 non-null   object
 5   mouth_left       5176 non-null   object
 6   mouth_right      5176 non-null   object
 7   nose             5176 non-null   object
 8   path             5200 non-null   object
 9   race             5200 non-null   object
 10  right_eye        5176 non-null   object
 11  xmax             5200 non-null   float64
 12  xmin             5200 non-null   float64
 13  ymax             5200 non-null   float64
 14  ymin             5200 non-null   float64
dtypes: float64(5), object(10)
memory usage: 609.5+ KB
None
       age  gender      id  ...   xmin   ymax   ymin
5195  57.0  female  001479  ...   94.0  368.0  135.0
5196  57.0  female  001479  ...   97.0  352.0  138.0
5197  57.0  female  001479  ...   94.0  370.0  120.0
5198  57.0  female  001479  ...   79.0  379.0  120.0
5199  57.0  female  001479  ...  110.0  374.0  156.0

[5 rows x 15 columns]
resolving with retinaface:  /content/input/data/train/images/001491_male_Asian_25/mask5.jpg
(5300, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5300 entries, 0 to 5299
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5300 non-null   float64
 1   gender           5300 non-null   object
 2   id               5300 non-null   object
 3   image_file_path  5300 non-null   object
 4   left_eye         5276 non-null   object
 5   mouth_left       5276 non-null   object
 6   mouth_right      5276 non-null   object
 7   nose             5276 non-null   object
 8   path             5300 non-null   object
 9   race             5300 non-null   object
 10  right_eye        5276 non-null   object
 11  xmax             5300 non-null   float64
 12  xmin             5300 non-null   float64
 13  ymax             5300 non-null   float64
 14  ymin             5300 non-null   float64
dtypes: float64(5), object(10)
memory usage: 621.2+ KB
None
       age gender        id  ...   xmin   ymax   ymin
5295  23.0   male  001493-1  ...   94.0  357.0  103.0
5296  23.0   male  001493-1  ...   92.0  346.0  114.0
5297  23.0   male  001493-1  ...  107.0  327.0  102.0
5298  23.0   male  001493-1  ...   99.0  333.0  106.0
5299  60.0   male    001494  ...   78.0  346.0   75.0

[5 rows x 15 columns]
resolving with retinaface:  /content/input/data/train/images/001494-1_female_Asian_23/mask5.jpg
(5400, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5400 entries, 0 to 5399
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5400 non-null   float64
 1   gender           5400 non-null   object
 2   id               5400 non-null   object
 3   image_file_path  5400 non-null   object
 4   left_eye         5376 non-null   object
 5   mouth_left       5376 non-null   object
 6   mouth_right      5376 non-null   object
 7   nose             5376 non-null   object
 8   path             5400 non-null   object
 9   race             5400 non-null   object
 10  right_eye        5376 non-null   object
 11  xmax             5400 non-null   float64
 12  xmin             5400 non-null   float64
 13  ymax             5400 non-null   float64
 14  ymin             5400 non-null   float64
dtypes: float64(5), object(10)
memory usage: 632.9+ KB
None
       age  gender      id  ...   xmin   ymax   ymin
5395  24.0  female  001505  ...  100.0  346.0   98.0
5396  24.0  female  001505  ...   90.0  354.0  108.0
5397  53.0  female  001506  ...  102.0  351.0  164.0
5398  53.0  female  001506  ...  117.0  365.0  178.0
5399  53.0  female  001506  ...  112.0  358.0  170.0

[5 rows x 15 columns]
resolving with retinaface:  /content/input/data/train/images/001519_female_Asian_54/mask4.jpg
(5500, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5500 non-null   float64
 1   gender           5500 non-null   object
 2   id               5500 non-null   object
 3   image_file_path  5500 non-null   object
 4   left_eye         5476 non-null   object
 5   mouth_left       5476 non-null   object
 6   mouth_right      5476 non-null   object
 7   nose             5476 non-null   object
 8   path             5500 non-null   object
 9   race             5500 non-null   object
 10  right_eye        5476 non-null   object
 11  xmax             5500 non-null   float64
 12  xmin             5500 non-null   float64
 13  ymax             5500 non-null   float64
 14  ymin             5500 non-null   float64
dtypes: float64(5), object(10)
memory usage: 644.7+ KB
None
       age  gender      id  ...   xmin   ymax   ymin
5495  47.0  female  001520  ...  121.0  349.0  158.0
5496  47.0  female  001520  ...  110.0  358.0  143.0
5497  47.0  female  001520  ...  115.0  361.0  183.0
5498  47.0  female  001520  ...   98.0  351.0  131.0
5499  47.0  female  001520  ...  122.0  343.0  158.0

[5 rows x 15 columns]
(5600, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5600 entries, 0 to 5599
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5600 non-null   float64
 1   gender           5600 non-null   object
 2   id               5600 non-null   object
 3   image_file_path  5600 non-null   object
 4   left_eye         5576 non-null   object
 5   mouth_left       5576 non-null   object
 6   mouth_right      5576 non-null   object
 7   nose             5576 non-null   object
 8   path             5600 non-null   object
 9   race             5600 non-null   object
 10  right_eye        5576 non-null   object
 11  xmax             5600 non-null   float64
 12  xmin             5600 non-null   float64
 13  ymax             5600 non-null   float64
 14  ymin             5600 non-null   float64
dtypes: float64(5), object(10)
memory usage: 656.4+ KB
None
       age gender      id  ...   xmin   ymax   ymin
5595  56.0   male  001536  ...  115.0  355.0  146.0
5596  56.0   male  001536  ...  123.0  358.0  159.0
5597  56.0   male  001536  ...  110.0  359.0  136.0
5598  56.0   male  001536  ...  119.0  366.0  149.0
5599  56.0   male  001536  ...  118.0  363.0  135.0

[5 rows x 15 columns]
(5700, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5700 entries, 0 to 5699
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5700 non-null   float64
 1   gender           5700 non-null   object
 2   id               5700 non-null   object
 3   image_file_path  5700 non-null   object
 4   left_eye         5676 non-null   object
 5   mouth_left       5676 non-null   object
 6   mouth_right      5676 non-null   object
 7   nose             5676 non-null   object
 8   path             5700 non-null   object
 9   race             5700 non-null   object
 10  right_eye        5676 non-null   object
 11  xmax             5700 non-null   float64
 12  xmin             5700 non-null   float64
 13  ymax             5700 non-null   float64
 14  ymin             5700 non-null   float64
dtypes: float64(5), object(10)
memory usage: 668.1+ KB
None
       age  gender      id  ...  xmin   ymax   ymin
5695  28.0    male  001550  ...  59.0  384.0  115.0
5696  28.0    male  001550  ...  81.0  351.0   97.0
5697  28.0    male  001550  ...  83.0  341.0   94.0
5698  27.0  female  001554  ...  99.0  371.0  161.0
5699  27.0  female  001554  ...  98.0  384.0  166.0

[5 rows x 15 columns]
(5800, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5800 entries, 0 to 5799
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5800 non-null   float64
 1   gender           5800 non-null   object
 2   id               5800 non-null   object
 3   image_file_path  5800 non-null   object
 4   left_eye         5776 non-null   object
 5   mouth_left       5776 non-null   object
 6   mouth_right      5776 non-null   object
 7   nose             5776 non-null   object
 8   path             5800 non-null   object
 9   race             5800 non-null   object
 10  right_eye        5776 non-null   object
 11  xmax             5800 non-null   float64
 12  xmin             5800 non-null   float64
 13  ymax             5800 non-null   float64
 14  ymin             5800 non-null   float64
dtypes: float64(5), object(10)
memory usage: 679.8+ KB
None
       age gender      id  ...   xmin   ymax   ymin
5795  60.0   male  001568  ...  111.0  339.0  149.0
5796  60.0   male  001570  ...  101.0  359.0  134.0
5797  60.0   male  001570  ...  112.0  366.0  149.0
5798  60.0   male  001570  ...  113.0  357.0  124.0
5799  60.0   male  001570  ...  112.0  367.0  159.0

[5 rows x 15 columns]
(5900, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5900 entries, 0 to 5899
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5900 non-null   float64
 1   gender           5900 non-null   object
 2   id               5900 non-null   object
 3   image_file_path  5900 non-null   object
 4   left_eye         5876 non-null   object
 5   mouth_left       5876 non-null   object
 6   mouth_right      5876 non-null   object
 7   nose             5876 non-null   object
 8   path             5900 non-null   object
 9   race             5900 non-null   object
 10  right_eye        5876 non-null   object
 11  xmax             5900 non-null   float64
 12  xmin             5900 non-null   float64
 13  ymax             5900 non-null   float64
 14  ymin             5900 non-null   float64
dtypes: float64(5), object(10)
memory usage: 691.5+ KB

    age  gender      id  ...   xmin   ymax   ymin
0  45.0  female  000001  ...   96.0  357.0  131.0
1  45.0  female  000001  ...   90.0  350.0  128.0
2  45.0  female  000001  ...   89.0  358.0  132.0
3  45.0  female  000001  ...   85.0  326.0  112.0
4  45.0  female  000001  ...   87.0  337.0  108.0
5  45.0  female  000001  ...  100.0  359.0  121.0
6  45.0  female  000001  ...   99.0  322.0  105.0
7  52.0  female  000002  ...   85.0  376.0  163.0
8  52.0  female  000002  ...   82.0  375.0  155.0
9  52.0  female  000002  ...   87.0  359.0  135.0

[10 rows x 15 columns]

In [ ]:
df_image.tail(20)

        age gender      id  ...   xmin   ymax   ymin
18880  19.0   male  006956  ...   75.0  386.0  123.0
18881  19.0   male  006956  ...   67.0  401.0  125.0
18882  19.0   male  006956  ...   79.0  384.0  101.0
18883  19.0   male  006956  ...   68.0  424.0  119.0
18884  19.0   male  006956  ...   84.0  378.0  106.0
18885  19.0   male  006956  ...   68.0  379.0  128.0
18886  20.0   male  006957  ...   95.0  381.0  107.0
18887  20.0   male  006957  ...   75.0  367.0  107.0
18888  20.0   male  006957  ...   74.0  396.0  103.0
18889  20.0   male  006957  ...   92.0  393.0  102.0
18890  20.0   male  006957  ...   80.0  388.0   76.0
18891  20.0   male  006957  ...   83.0  389.0  106.0
18892  20.0   male  006957  ...   87.0  389.0  110.0
18893  19.0   male  006959  ...   83.0  339.0  114.0
18894  19.0   male  006959  ...   95.0  384.0  147.0
18895  19.0   male  006959  ...  100.0  372.0  138.0
18896  19.0   male  006959  ...   94.0  331.0  158.0
18897  19.0   male  006959  ...   85.0  388.0  128.0
18898  19.0   male  006959  ...   93.0  388.0  153.0
18899  19.0   male  006959  ...   85.0  375.0  154.0

[20 rows x 15 columns]

In [ ]:
df_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18900 entries, 0 to 18899
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              18900 non-null  float64
 1   gender           18900 non-null  object
 2   id               18900 non-null  object
 3   image_file_path  18900 non-null  object
 4   left_eye         18875 non-null  object
 5   mouth_left       18875 non-null  object
 6   mouth_right      18875 non-null  object
 7   nose             18875 non-null  object
 8   path             18900 non-null  object
 9   race             18900 non-null  object
 10  right_eye        18875 non-null  object
 11  xmax             18900 non-null  float64
 12  xmin             18900 non-null  float64
 13  ymax             18900 non-null  float64
 14  ymin             18900 non-null  float64
dtypes: float64(5), object(10)
memory usage: 2.2+ MB

In [ ]:
df_image.to_csv("./train_images.csv", index=False)

##Load metadata and crop Train dataset

In [ ]:
import pandas as pd 
import numpy as np 
import os
import cv2

# read training dataset
train_info = "/content/train_images.csv"
df_train_info = pd.read_csv(train_info)
df_train_info.head()

    age  gender      id  ...  xmin   ymax   ymin
0  45.0  female  000001  ...  96.0  357.0  131.0
1  45.0  female  000001  ...  90.0  350.0  128.0
2  45.0  female  000001  ...  89.0  358.0  132.0
3  45.0  female  000001  ...  85.0  326.0  112.0
4  45.0  female  000001  ...  87.0  337.0  108.0

[5 rows x 15 columns]

In [ ]:
# LOAD CROPPED IMAGES
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt 
import cv2

# make training folder
TRAIN_IMGS_DATASET_PATH = './input/data/train/images'
CROPPED_TRAIN_IMGS_DATASET_PATH = './input/data/train/cropped_images'

if not os.path.exists(CROPPED_TRAIN_IMGS_DATASET_PATH):
  os.mkdir(CROPPED_TRAIN_IMGS_DATASET_PATH)

# iterrate rows for the given training dataset
for index, row in tqdm(df_train_info.iterrows()):
  # read stored data 
  image_file_path = row["image_file_path"]
  xmin = int(row["xmin"])
  ymin = int(row["ymin"])
  xmax = int(row["xmax"])
  ymax = int(row["ymax"])
  profile = str(row["path"])

  # make image profile folder
  profile_name = profile
  if not os.path.exists(os.path.join(CROPPED_TRAIN_IMGS_DATASET_PATH, profile_name)):
    os.mkdir(os.path.join(CROPPED_TRAIN_IMGS_DATASET_PATH, profile_name))
  
  # place cropped image under profile folder
  image_name = image_file_path.split("/")[-1]
  image = cv2.imread(image_file_path)
  # image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB) # omit BGR2RGB process: not using mtcnn

  # prevent tile out of box error
  if xmin<0:xmin=0
  if ymin<0:ymin=0
  if xmax>384:xmax=384
  if ymax>512:ymax=512

  # crop and save cropped images
  cropped_img = image[ymin:ymax, xmin:xmax, :] # y axis, x axis, all 3 channels
  # print(profile_name, image_name)
  cv2.imwrite(os.path.join(CROPPED_TRAIN_IMGS_DATASET_PATH, profile_name, image_name), cropped_img)

0it [00:00, ?it/s]

## Make Evaluation Dataset

In [ ]:
test_df = pd.read_csv('./input/data/eval/info.csv')
test_df.head()

                                        ImageID  ans
0  cbc5c6e168e63498590db46022617123f1fe1268.jpg    0
1  0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    0
2  b549040c49190cedc41327748aeb197c1670f14d.jpg    0
3  4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg    0
4  248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg    0

In [ ]:
from tqdm.notebook import tqdm
from retinaface import RetinaFace
import glob

# make empty dataframe
df_eval_image = pd.DataFrame({})
cnt = 0 # intialize iteration count

# padding value before cropping
X_PADDING = 20 
Y_PADDING = 30 # gave more padding due to include mask on the chin & hair style

# initializing
cnt = 0
test_df = pd.read_csv('./input/data/eval/info.csv')
path = './input/data/eval/images'

# iterating on test dataframe and marking detection points
for i in tqdm(test_df.values):
  cnt += 1
  image_file_path = os.path.join(path,i[0])
  img = cv2.imread(image_file_path)
  img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
  boxes, probs, landmarks = mtcnn.detect(img, landmarks=True)
  # print(boxes, probs)
  
  # crop with mtcnn
  if probs[0]:
    xmin = int(boxes[0, 0]) - X_PADDING
    ymin = int(boxes[0, 1]) - Y_PADDING
    xmax = int(boxes[0, 2]) + X_PADDING
    ymax = int(boxes[0, 3]) + Y_PADDING
    
    # get landmark information
    left_eye = landmarks[0, 0]
    right_eye = landmarks[0, 1]
    mouth_left = landmarks[0, 2]
    mouth_right = landmarks[0, 3]
    nose = landmarks[0, 4]

  # when mtcnn fails,
  elif not probs[0]:
    result_detected = RetinaFace.detect_faces(image_file_path)

    # crop with retinaface
    if type(result_detected) == dict:
      print("resolving with retinaface: ", image_file_path)
      # save face bounding box information
      xmin = int(result_detected["face_1"]["facial_area"][0]) - X_PADDING
      ymin = int(result_detected["face_1"]["facial_area"][1]) - Y_PADDING
      xmax = int(result_detected["face_1"]["facial_area"][2]) + X_PADDING
      ymax = int(result_detected["face_1"]["facial_area"][3]) + Y_PADDING
      
      # save landmark information
      face_landmarks = result_detected["face_1"]["landmarks"]
      left_eye = face_landmarks["left_eye"]
      right_eye = face_landmarks["right_eye"]
      mouth_left = face_landmarks["mouth_left"]
      mouth_right = face_landmarks["mouth_right"]
      nose = face_landmarks["nose"]
    
    # retinaface fails, manually crop
    elif type(result_detected) == tuple:
      print("this one is causing trouble, manually cropped ", image_file_path)
      
      # xmin = 50
      # ymin = 100
      # xmax = 350
      # ymax = 400
      
      # coordination reference: https://stages.ai/competitions/74/discussion/talk/post/516

      xmin = 80
      ymin = 50
      xmax = 80 + 220
      ymax = 50 + 320

      
      face_landmarks = left_eye = right_eye = np.nan
      mouth_left = mouth_right = nose = np.nan

  # prevent tile out of box error
  if xmin<0:xmin=0
  if ymin<0:ymin=0
  if xmax>384:xmax=384
  if ymax>512:ymax=512
  
  # add row to the df_eval_images with the extracted information
  df_eval_image = df_eval_image.append(
    {
      "ImageID":i[0],
      "ans":0,
      "xmin": xmin,
      "ymin": ymin,
      "xmax": xmax,
      "ymax": ymax,
      "left_eye": left_eye,
      "right_eye": right_eye,
      "mouth_left": mouth_left,
      "mouth_right": mouth_right,
      "nose": nose
    }, ignore_index=True)

  # print data information every 100 iterations
  if cnt % 100 == 0:
    print(df_eval_image.shape)
    print(df_eval_image.info())
    print(df_eval_image.tail())

  0%|          | 0/12600 [00:00<?, ?it/s]

(100, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      100 non-null    object
 1   ans          100 non-null    float64
 2   left_eye     100 non-null    object
 3   mouth_left   100 non-null    object
 4   mouth_right  100 non-null    object
 5   nose         100 non-null    object
 6   right_eye    100 non-null    object
 7   xmax         100 non-null    float64
 8   xmin         100 non-null    float64
 9   ymax         100 non-null    float64
 10  ymin         100 non-null    float64
dtypes: float64(5), object(6)
memory usage: 8.7+ KB
None
                                         ImageID  ans  ...   ymax   ymin
95  6503789ae2d9d5faefe78e604b2d770d8470b537.jpg  0.0  ...  386.0   83.0
96  b6c3810a5830fe5181bb449d3f67980862589075.jpg  0.0  ...  352.0   92.0
97  5712c652aba34f4ccf3c16b3b2e1d9ca9f4674d3.jpg  0.0  ...  357.0  125.0
98  e21b1cde9649f89334efa4a173e7e865784a7deb.jpg  0.0  ...  360.0  137.0
99  94cde3ef6bf7fa424930de397d3a4d54ab3f549c.jpg  0.0  ...  345.0  147.0

[5 rows x 11 columns]
Directory  /root /.deepface created
Directory  /root /.deepface/weights created
retinaface.h5 will be downloaded from the url https://github.com/serengil/deepface_models/releases/download/v1.0/retinaface.h5

Downloading...
From: https://github.com/serengil/deepface_models/releases/download/v1.0/retinaface.h5
To: /root/.deepface/weights/retinaface.h5

  0%|          | 0.00/119M [00:00<?, ?B/s]
  4%|▍         | 4.72M/119M [00:00<00:03, 32.0MB/s]
  8%|▊         | 8.91M/119M [00:00<00:02, 36.6MB/s]
 12%|█▏        | 14.2M/119M [00:00<00:02, 37.8MB/s]
 16%|█▌        | 18.9M/119M [00:00<00:02, 39.0MB/s]
 19%|█▉        | 23.1M/119M [00:00<00:02, 36.5MB/s]
 28%|██▊       | 33.6M/119M [00:00<00:01, 56.2MB/s]
 34%|███▎      | 39.8M/119M [00:01<00:02, 32.7MB/s]
 40%|███▉      | 47.2M/119M [00:01<00:01, 39.5MB/s]
 46%|████▌     | 54.0M/119M [00:01<00:01, 45.4MB/s]
 50%|█████     | 59.8M/119M [00:01<00:01, 38.5MB/s]
 56%|█████▌    | 66.6M/119M [00:01<00:01, 44.4MB/s]
 62%|██████▏   | 73.4M/119M [00:01<00:00, 47.1MB/s]
 67%|██████▋   | 79.2M/119M [00:01<00:00, 46.2MB/s]
 76%|███████▌  | 89.7M/119M [00:01<00:00, 60.1MB/s]
 82%|████████▏ | 97.0M/119M [00:02<00:00, 46.0MB/s]
 87%|████████▋ | 103M/119M [00:02<00:00, 47.1MB/s]
 91%|█████████▏| 109M/119M [00:02<00:00, 35.5MB/s]
 95%|█████████▌| 113M/119M [00:02<00:00, 33.4MB/s]
100%|██████████| 119M/119M [00:02<00:00, 40.4MB/s]

resolving with retinaface:  ./input/data/eval/images/d8c0d7ae6cf662506012135e730b855c321dbc8f.jpg
(200, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      200 non-null    object
 1   ans          200 non-null    float64
 2   left_eye     200 non-null    object
 3   mouth_left   200 non-null    object
 4   mouth_right  200 non-null    object
 5   nose         200 non-null    object
 6   right_eye    200 non-null    object
 7   xmax         200 non-null    float64
 8   xmin         200 non-null    float64
 9   ymax         200 non-null    float64
 10  ymin         200 non-null    float64
dtypes: float64(5), object(6)
memory usage: 17.3+ KB
None
                                          ImageID  ans  ...   ymax   ymin
195  21ff84b140eb9cb736311d0718ba87f538f88e4d.jpg  0.0  ...  425.0  138.0
196  988dab8df6e2a6bab0f6e141309e09f85211eac7.jpg  0.0  ...  351.0  108.0
197  2e0e5387077df0a65861674b950b7f65a7ca2705.jpg  0.0  ...  374.0  124.0
198  eab8c81764ea0058f62d4e266d44ad3b519d64e2.jpg  0.0  ...  323.0   66.0
199  bf663b79a4742ef2799bf98ccaaa906217c192cc.jpg  0.0  ...  355.0   80.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/94357120d59ee5ea7a263c725d9db7125f43092b.jpg
(300, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      300 non-null    object
 1   ans          300 non-null    float64
 2   left_eye     300 non-null    object
 3   mouth_left   300 non-null    object
 4   mouth_right  300 non-null    object
 5   nose         300 non-null    object
 6   right_eye    300 non-null    object
 7   xmax         300 non-null    float64
 8   xmin         300 non-null    float64
 9   ymax         300 non-null    float64
 10  ymin         300 non-null    float64
dtypes: float64(5), object(6)
memory usage: 25.9+ KB
None
                                          ImageID  ans  ...   ymax   ymin
295  ae40d4bc01e4a991a5e0ae9ea82793bef7a1a165.jpg  0.0  ...  344.0  130.0
296  603847dabbd6c238ffb2b2284c64c753141be958.jpg  0.0  ...  363.0  127.0
297  a4e02b4eca9afe895b431d0cfa285db489ce4bf7.jpg  0.0  ...  354.0  159.0
298  6dcc019c00e3c2a9627a6b6cb9c0c23c95b28204.jpg  0.0  ...  394.0   60.0
299  6b69362d7bd4ea2ddfa6d09936c8e12fecc3cef0.jpg  0.0  ...  356.0  154.0

[5 rows x 11 columns]
(400, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      400 non-null    object
 1   ans          400 non-null    float64
 2   left_eye     400 non-null    object
 3   mouth_left   400 non-null    object
 4   mouth_right  400 non-null    object
 5   nose         400 non-null    object
 6   right_eye    400 non-null    object
 7   xmax         400 non-null    float64
 8   xmin         400 non-null    float64
 9   ymax         400 non-null    float64
 10  ymin         400 non-null    float64
dtypes: float64(5), object(6)
memory usage: 34.5+ KB
None
                                          ImageID  ans  ...   ymax   ymin
395  cf66b38a1257e8fd46ca4cc2a75f100089e1c5ca.jpg  0.0  ...  362.0  146.0
396  b180605c1149a241943d98f7eeee86353c786343.jpg  0.0  ...  393.0  135.0
397  671c6cead3bd5c23a066e3a8c26a26154ea5bdf6.jpg  0.0  ...  327.0  112.0
398  132b9513d8d16948dbc227cb8e6535369c45dc85.jpg  0.0  ...  383.0   80.0
399  d93e508ae6e33c2ba2c90592d2c0bbd6a6887dbb.jpg  0.0  ...  368.0   64.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/e8edccf26199d6ad0371e14755ec094a0c1f99f0.jpg
resolving with retinaface:  ./input/data/eval/images/3acc173e9f5e5817707aa916d1c56794f4e8d429.jpg
(500, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      500 non-null    object
 1   ans          500 non-null    float64
 2   left_eye     500 non-null    object
 3   mouth_left   500 non-null    object
 4   mouth_right  500 non-null    object
 5   nose         500 non-null    object
 6   right_eye    500 non-null    object
 7   xmax         500 non-null    float64
 8   xmin         500 non-null    float64
 9   ymax         500 non-null    float64
 10  ymin         500 non-null    float64
dtypes: float64(5), object(6)
memory usage: 43.1+ KB
None
                                          ImageID  ans  ...   ymax   ymin
495  3c213ed795e6e1e9f90d92e0db2cc3a858451d10.jpg  0.0  ...  403.0   98.0
496  56e276ec30da09b5f02771fea4b24be8e2dbfe79.jpg  0.0  ...  348.0   71.0
497  a8bdd52fa83a034b7a6789c909bd692974474f6d.jpg  0.0  ...  374.0   70.0
498  fd6764a9724de14559f80ecb6966814072b8d6df.jpg  0.0  ...  352.0  134.0
499  e4d82ae75a77cb51f31cd60cd8c14f6607679256.jpg  0.0  ...  404.0  122.0

[5 rows x 11 columns]
(600, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      600 non-null    object
 1   ans          600 non-null    float64
 2   left_eye     600 non-null    object
 3   mouth_left   600 non-null    object
 4   mouth_right  600 non-null    object
 5   nose         600 non-null    object
 6   right_eye    600 non-null    object
 7   xmax         600 non-null    float64
 8   xmin         600 non-null    float64
 9   ymax         600 non-null    float64
 10  ymin         600 non-null    float64
dtypes: float64(5), object(6)
memory usage: 51.7+ KB
None
                                          ImageID  ans  ...   ymax   ymin
595  bbe1c25130332c684d5118c9d7824d766103cabe.jpg  0.0  ...  381.0   99.0
596  7b86362c11970c0ea240f470c203280456cd8be1.jpg  0.0  ...  346.0  100.0
597  76f88523acfcaa6d45b440b2a2a8d6516e7e1da4.jpg  0.0  ...  352.0   80.0
598  72404f1a79e0aa814cc8a5f036f56cb1b02b1c54.jpg  0.0  ...  403.0  127.0
599  8f8faa9f3d5c8bd7f7f9fc2d4d5d3e7807fc2986.jpg  0.0  ...  378.0  119.0

[5 rows x 11 columns]
(700, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      700 non-null    object
 1   ans          700 non-null    float64
 2   left_eye     700 non-null    object
 3   mouth_left   700 non-null    object
 4   mouth_right  700 non-null    object
 5   nose         700 non-null    object
 6   right_eye    700 non-null    object
 7   xmax         700 non-null    float64
 8   xmin         700 non-null    float64
 9   ymax         700 non-null    float64
 10  ymin         700 non-null    float64
dtypes: float64(5), object(6)
memory usage: 60.3+ KB
None
                                          ImageID  ans  ...   ymax   ymin
695  7b8d36d989d547193534ac9e80959773528d2389.jpg  0.0  ...  415.0  180.0
696  e314408a36d0a625bef2ba1f7f392e18d2d35e9e.jpg  0.0  ...  363.0  159.0
697  47a9169d450124da7017c64a130a41c4af88286b.jpg  0.0  ...  396.0   32.0
698  17039c7a3d73acddbd6ba5a78fa88c0daaefe75a.jpg  0.0  ...  349.0  152.0
699  3769e6c69bbdefa1625e79e141396e9a1a6d1127.jpg  0.0  ...  312.0  106.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/0bab5b2976d8507243b316f8ebaf258acbc28537.jpg
resolving with retinaface:  ./input/data/eval/images/dc03d33fa8940ca95dfba46acc94c573f74b0bfd.jpg
(800, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      800 non-null    object
 1   ans          800 non-null    float64
 2   left_eye     800 non-null    object
 3   mouth_left   800 non-null    object
 4   mouth_right  800 non-null    object
 5   nose         800 non-null    object
 6   right_eye    800 non-null    object
 7   xmax         800 non-null    float64
 8   xmin         800 non-null    float64
 9   ymax         800 non-null    float64
 10  ymin         800 non-null    float64
dtypes: float64(5), object(6)
memory usage: 68.9+ KB
None
                                          ImageID  ans  ...   ymax   ymin
795  8c8fe58cf637357bd9b3615b01f4405efaf1f86d.jpg  0.0  ...  339.0  160.0
796  dc03d33fa8940ca95dfba46acc94c573f74b0bfd.jpg  0.0  ...  378.0  113.0
797  281d5101ef9ca7f5b446ef6696d587d255315c11.jpg  0.0  ...  368.0  161.0
798  68fcab01a125670559236693f0a812e1da5086e9.jpg  0.0  ...  368.0  156.0
799  248abd6bb23829cc227c4ba8d53f71d8c977fcc9.jpg  0.0  ...  392.0  100.0

[5 rows x 11 columns]
(900, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      900 non-null    object
 1   ans          900 non-null    float64
 2   left_eye     900 non-null    object
 3   mouth_left   900 non-null    object
 4   mouth_right  900 non-null    object
 5   nose         900 non-null    object
 6   right_eye    900 non-null    object
 7   xmax         900 non-null    float64
 8   xmin         900 non-null    float64
 9   ymax         900 non-null    float64
 10  ymin         900 non-null    float64
dtypes: float64(5), object(6)
memory usage: 77.5+ KB
None
                                          ImageID  ans  ...   ymax   ymin
895  826dd93de179c696d7625f7e4e04d697a3bb2fd4.jpg  0.0  ...  330.0   72.0
896  bc08b563cbd99c061dcd0f45d5ba942022857d21.jpg  0.0  ...  399.0  122.0
897  5ecc9a84ff56fe56b84b66d9c36ef021e106390e.jpg  0.0  ...  315.0  108.0
898  d5f3054c6d882f7f517db7805c545f16284143fb.jpg  0.0  ...  396.0  113.0
899  8d6ea563a1885e940bb894d09eaf06b4c00b077f.jpg  0.0  ...  373.0   71.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/fa989be2a170b82cee7aeda979d08d813009fd90.jpg
(1000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1000 non-null   object
 1   ans          1000 non-null   float64
 2   left_eye     1000 non-null   object
 3   mouth_left   1000 non-null   object
 4   mouth_right  1000 non-null   object
 5   nose         1000 non-null   object
 6   right_eye    1000 non-null   object
 7   xmax         1000 non-null   float64
 8   xmin         1000 non-null   float64
 9   ymax         1000 non-null   float64
 10  ymin         1000 non-null   float64
dtypes: float64(5), object(6)
memory usage: 86.1+ KB
None
                                          ImageID  ans  ...   ymax   ymin
995  53ac0266a68b3dff3bc314c5eeb0b51160d2963c.jpg  0.0  ...  424.0  100.0
996  7e6c75359f74a93819c1066330ec463df86d5e4e.jpg  0.0  ...  386.0   79.0
997  e0713ad1fbc9dd219d7a49265cdfe62b39a3262b.jpg  0.0  ...  395.0  150.0
998  b6cb376d29200e9f0389c6daf88587a6e1941630.jpg  0.0  ...  399.0  115.0
999  cd31841f646ed53cba4261b696414c85a3c6e17b.jpg  0.0  ...  397.0  110.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/5ce9bd35084c47355c0da7c3c790288df4b64396.jpg
resolving with retinaface:  ./input/data/eval/images/0408a0ddce6ed0b1d064878ce07cea1c58e3cd50.jpg
resolving with retinaface:  ./input/data/eval/images/2599aa8c9e51cd9c01d23f6e4e111bd74a1a95ff.jpg
resolving with retinaface:  ./input/data/eval/images/1d9101c7c4e53ca016924f470a3280c54f7e7125.jpg
(1100, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1100 non-null   object
 1   ans          1100 non-null   float64
 2   left_eye     1100 non-null   object
 3   mouth_left   1100 non-null   object
 4   mouth_right  1100 non-null   object
 5   nose         1100 non-null   object
 6   right_eye    1100 non-null   object
 7   xmax         1100 non-null   float64
 8   xmin         1100 non-null   float64
 9   ymax         1100 non-null   float64
 10  ymin         1100 non-null   float64
dtypes: float64(5), object(6)
memory usage: 94.7+ KB
None
                                           ImageID  ans  ...   ymax   ymin
1095  ff51972b4af455403a9b18d24f873928377c0958.jpg  0.0  ...  381.0  137.0
1096  fd2c63a8711edd06b243e3446ed1ce24c88c63de.jpg  0.0  ...  330.0   97.0
1097  cb2445538d6bb332a11aa96ea1ee3153c5978a3c.jpg  0.0  ...  429.0  131.0
1098  4a7ccc3c171b04670e6703c545e1b06426bed93e.jpg  0.0  ...  384.0  115.0
1099  b4ba83bed3f9ee8f45ada2409436b121a1243bae.jpg  0.0  ...  301.0   44.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/8535388e91510abca652406e13a4db4a6768c668.jpg
resolving with retinaface:  ./input/data/eval/images/1c12b032e7e4846f34372d4c8b466811ee286613.jpg
resolving with retinaface:  ./input/data/eval/images/88a20107c838eefbe6b1e09dc57a6ac087bc4fe8.jpg
(1200, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1200 non-null   object
 1   ans          1200 non-null   float64
 2   left_eye     1200 non-null   object
 3   mouth_left   1200 non-null   object
 4   mouth_right  1200 non-null   object
 5   nose         1200 non-null   object
 6   right_eye    1200 non-null   object
 7   xmax         1200 non-null   float64
 8   xmin         1200 non-null   float64
 9   ymax         1200 non-null   float64
 10  ymin         1200 non-null   float64
dtypes: float64(5), object(6)
memory usage: 103.2+ KB
None
                                           ImageID  ans  ...   ymax   ymin
1195  893f94447682c2f1ac3b1e217009e33ab1b5bde5.jpg  0.0  ...  351.0  156.0
1196  2325c339a510a1f974fc6fc209a404630d2f7702.jpg  0.0  ...  391.0  165.0
1197  d6895de3351e79e7ce91f771b28c10ca2aa58859.jpg  0.0  ...  379.0  149.0
1198  f2032524732c94188546bf557c696ab5835883b8.jpg  0.0  ...  366.0   88.0
1199  bb207dd6c714c7c16d1ca3e9754fa5c323d68d1f.jpg  0.0  ...  383.0   98.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/f3d2965a841600cca7d0c932c0e9fe05562fb24d.jpg
(1300, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1300 non-null   object
 1   ans          1300 non-null   float64
 2   left_eye     1300 non-null   object
 3   mouth_left   1300 non-null   object
 4   mouth_right  1300 non-null   object
 5   nose         1300 non-null   object
 6   right_eye    1300 non-null   object
 7   xmax         1300 non-null   float64
 8   xmin         1300 non-null   float64
 9   ymax         1300 non-null   float64
 10  ymin         1300 non-null   float64
dtypes: float64(5), object(6)
memory usage: 111.8+ KB
None
                                           ImageID  ans  ...   ymax   ymin
1295  32c163abdf04523cdfdff36a1e5c7c8be6cd8180.jpg  0.0  ...  417.0  107.0
1296  b63709a7c16f955ef0e909838e5598db4963ebab.jpg  0.0  ...  369.0   92.0
1297  e9e83b2ad63799371b00e8d45526735f5287bd81.jpg  0.0  ...  388.0   68.0
1298  f5e876a12d267a67efe40ff2a9854bdf3cf6fccc.jpg  0.0  ...  370.0   42.0
1299  9ee30a3045b0c0ab103a34488cd93080cab51a00.jpg  0.0  ...  376.0   81.0

[5 rows x 11 columns]
(1400, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1400 non-null   object
 1   ans          1400 non-null   float64
 2   left_eye     1400 non-null   object
 3   mouth_left   1400 non-null   object
 4   mouth_right  1400 non-null   object
 5   nose         1400 non-null   object
 6   right_eye    1400 non-null   object
 7   xmax         1400 non-null   float64
 8   xmin         1400 non-null   float64
 9   ymax         1400 non-null   float64
 10  ymin         1400 non-null   float64
dtypes: float64(5), object(6)
memory usage: 120.4+ KB
None
                                           ImageID  ans  ...   ymax   ymin
1395  2dad540120c418bb2c2c2112f44e55f9e205c44e.jpg  0.0  ...  388.0  100.0
1396  4b3b954a70fffec3fbc9ec6dd8ebac431fd6cb41.jpg  0.0  ...  409.0  138.0
1397  8975573b53e81cbb781e311c056ebffecfd35281.jpg  0.0  ...  414.0  116.0
1398  83ac3a60c3b05131d8b9687554267b6ec90811d3.jpg  0.0  ...  405.0  118.0
1399  716d9b28f612a4346c148c195665e2e2e300b739.jpg  0.0  ...  359.0   95.0

[5 rows x 11 columns]
(1500, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1500 non-null   object
 1   ans          1500 non-null   float64
 2   left_eye     1500 non-null   object
 3   mouth_left   1500 non-null   object
 4   mouth_right  1500 non-null   object
 5   nose         1500 non-null   object
 6   right_eye    1500 non-null   object
 7   xmax         1500 non-null   float64
 8   xmin         1500 non-null   float64
 9   ymax         1500 non-null   float64
 10  ymin         1500 non-null   float64
dtypes: float64(5), object(6)
memory usage: 129.0+ KB
None
                                           ImageID  ans  ...   ymax   ymin
1495  cba1b51bdc2d3c7ae8c420a581720553d194d04e.jpg  0.0  ...  343.0  126.0
1496  a4a55156341fde990305b518184d14a0bbc50e7a.jpg  0.0  ...  363.0  124.0
1497  ef1f2b13cb56d5906592f93997b32d09e93f1dec.jpg  0.0  ...  391.0  106.0
1498  f7505deaf0bbafa8f7a59fe35a8ab46bafd48fc7.jpg  0.0  ...  374.0   79.0
1499  6ee0cdd8d9a2cf48851b1cefdaa2818e8df5a7af.jpg  0.0  ...  341.0  152.0

[5 rows x 11 columns]
resolving with retinaface:  ./input/data/eval/images/14964bcbf0a07628054444fcccfb3754b074e58e.jpg
resolving with retinaface:  ./input/data/eval/images/c011308f88afd246ed67fe6c7c6a93599d680e62.jpg
(1600, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1600 non-null   object
 1   ans          1600 non-null   float64
 2   left_eye     1600 non-null   object
 3   mouth_left   1600 non-null   object
 4   mouth_right  1600 non-null   object
 5   nose         1600 non-null   object
 6   right_eye    1600 non-null   object
 7   xmax         1600 non-null   float64
 8   xmin         1600 non-null   float64
 9   ymax         1600 non-null   float64
 10  ymin         1600 non-null   float64
dtypes: float64(5), object(6)
memory usage: 137.6+ KB
None
                                           ImageID  ans  ...   ymax   ymin
1595  6575f46b999fc096c8c0b4d61fe077db408bf631.jpg  0.0  ...  357.0   94.0
1596  c011308f88afd246ed67fe6c7c6a93599d680e62.jpg  0.0  ...  390.0  110.0
1597  a4d3e19ba7b38337c8d5996bfa96c2e8ee56e0d8.jpg  0.0  ...  363.0  141.0
1598  c778eb4d8b0ab296d9cdd9c7bddfa24ba2e09857.jpg  0.0  ...  370.0  140.0
1599  55a4e22e5cf8d63c080fb80b66f745fdff00a1c7.jpg  0.0  ...  369.0   77.0

[5 rows x 11 columns]
(1700, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      1700 non-null   object
 1   ans          1700 non-null   float64
 2   left_eye     1700 non-null   object
 3   mouth_left   1700 non-null   object
 4   mouth_right  1700 non-null   object
 5   nose         1700 non-null   object
 6   right_eye    1700 non-null   object
 7   xmax         1700 non-null   float64
 8   xmin         1700 non-null   float64
 9   ymax         1700 non-null   float64

In [ ]:
df_eval_image.to_csv("./eval_images.csv", index=False)

## Load metadata and crop evaluation dataset

In [ ]:
df_eval_image.head()

                                        ImageID  ans  ...   ymax   ymin
0  cbc5c6e168e63498590db46022617123f1fe1268.jpg  0.0  ...  426.0  101.0
1  0e72482bf56b3581c081f7da2a6180b8792c7089.jpg  0.0  ...  392.0   65.0
2  b549040c49190cedc41327748aeb197c1670f14d.jpg  0.0  ...  500.0  117.0
3  4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg  0.0  ...  399.0   56.0
4  248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg  0.0  ...  400.0   96.0

[5 rows x 11 columns]

In [ ]:
df_eval_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImageID      12600 non-null  object
 1   ans          12600 non-null  float64
 2   left_eye     12600 non-null  object
 3   mouth_left   12600 non-null  object
 4   mouth_right  12600 non-null  object
 5   nose         12600 non-null  object
 6   right_eye    12600 non-null  object
 7   xmax         12600 non-null  float64
 8   xmin         12600 non-null  float64
 9   ymax         12600 non-null  float64
 10  ymin         12600 non-null  float64
dtypes: float64(5), object(6)
memory usage: 1.1+ MB

In [ ]:
# LOAD CROPPED IMAGES
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt 
import cv2

# make evaluation folder
EVAL_IMGS_DATASET_PATH = './input/data/eval/images'
CROPPED_EVAL_IMGS_DATASET_PATH = './input/data/eval/cropped_images'

if not os.path.exists(CROPPED_EVAL_IMGS_DATASET_PATH):
  os.mkdir(CROPPED_EVAL_IMGS_DATASET_PATH)

# iterrate rows for the given evaluation dataset
for index, row in tqdm(df_eval_image.iterrows()):
  # read stored data 
  ImageID = str(row["ImageID"])
  ans = str(row["ans"])
  xmin = int(row["xmin"])
  ymin = int(row["ymin"])
  xmax = int(row["xmax"])
  ymax = int(row["ymax"])

  # place cropped image under new folder
  image_file_path = os.path.join(EVAL_IMGS_DATASET_PATH,ImageID)
  image = cv2.imread(image_file_path)
  # image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB) # omit BGR2RGB process: not using mtcnn

  # prevent tile out of box error
  if xmin<0:xmin=0
  if ymin<0:ymin=0
  if xmax>384:xmax=384
  if ymax>512:ymax=512

  # crop and save cropped images
  cropped_img = image[ymin:ymax, xmin:xmax, :] # y axis, x axis, all 3 channels
  # print(profile_name, image_name)
  image_name = image_file_path.split("/")[-1]
  cv2.imwrite(os.path.join(CROPPED_EVAL_IMGS_DATASET_PATH, image_name), cropped_img)

0it [00:00, ?it/s]

In [ ]:
# mount and move sample images
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## EDA Cropped Train Dataset

In [ ]:
import pandas as pd 
import numpy as np 
import os
import cv2

# read training dataset
train_info = "/content/train_images.csv"
df_train_info = pd.read_csv(train_info)
df_train_info.head()

In [ ]:
df_train_info.info()

In [ ]:
# LOAD CROPPED IMAGES
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt 
import cv2

# make training folder
TRAIN_IMGS_DATASET_PATH = './input/data/train/images'
CROPPED_TRAIN_IMGS_DATASET_PATH = './input/data/train/cropped_images'

if not os.path.exists(CROPPED_TRAIN_IMGS_DATASET_PATH):
  os.mkdir(CROPPED_TRAIN_IMGS_DATASET_PATH)

# iterrate rows for the given training dataset
for index, row in tqdm(df_train_info.iterrows()):
  # read stored data 
  image_file_path = row["image_file_path"]
  xmin = int(row["xmin"])
  ymin = int(row["ymin"])
  xmax = int(row["xmax"])
  ymax = int(row["ymax"])
  profile = str(row["path"])

  # make image profile folder
  profile_name = profile
  if not os.path.exists(os.path.join(CROPPED_TRAIN_IMGS_DATASET_PATH, profile_name)):
    os.mkdir(os.path.join(CROPPED_TRAIN_IMGS_DATASET_PATH, profile_name))
  
  # place cropped image under profile folder
  image_name = image_file_path.split("/")[-1]
  image = cv2.imread(image_file_path)
  # image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB) # omit BGR2RGB process: not using mtcnn

  # prevent tile out of box error
  if xmin<0:xmin=0
  if ymin<0:ymin=0
  if xmax>384:xmax=384
  if ymax>512:ymax=512

  # crop and save cropped images
  cropped_img = image[ymin:ymax, xmin:xmax, :] # y axis, x axis, all 3 channels
  # print(profile_name, image_name)
  cv2.imwrite(os.path.join(CROPPED_TRAIN_IMGS_DATASET_PATH, profile_name, image_name), cropped_img)

In [ ]:
import glob

# check whether train dataset is cropped properly
for individual_name in list_individuals:
  individual_path = os.path.join(CROPPED_TRAIN_IMGS_DATASET_PATH, individual_name)
  
  # check whether dataset is properly cropped
  jpg_file_list = glob.glob(f"{individual_path}/*.jpg")
  jpeg_file_list = glob.glob(f"{individual_path}/*.jpeg")
  png_file_list = glob.glob(f"{individual_path}/*.png")
  list_images = jpg_file_list + jpeg_file_list + png_file_list
  num_images = len(list_images)
  
  # print(num_images)
  
  if num_images == 7:
    pass
  else:
    print(f"{individual_path} has a problem during untar process, only has {num_jpg_images} images")
    pass
print("process cleared, cropped properly")

In [ ]:
df_train_info.head()

In [ ]:
CROPPED_TRAIN_IMGS_DATASET_PATH

In [ ]:
df_train_info["path"].values

In [ ]:
img_info = get_img_stats(CROPPED_TRAIN_IMGS_DATASET_PATH, df.path.values)

In [ ]:
print(f'Total number of people is {len(df)}')
print(f'Total number of images is {len(df) * 7}')

print(f'Minimum height for dataset is {np.min(img_info["heights"])}')
print(f'Maximum height for dataset is {np.max(img_info["heights"])}')
print(f'Average height for dataset is {int(np.mean(img_info["heights"]))}')
print(f'Minimum width for dataset is {np.min(img_info["widths"])}')
print(f'Maximum width for dataset is {np.max(img_info["widths"])}')
print(f'Average width for dataset is {int(np.mean(img_info["widths"]))}')

print(f'RGB Mean: {np.mean(img_info["means"], axis=0) / 255.}')
print(f'RGB Standard Deviation: {np.mean(img_info["stds"], axis=0) / 255.}')


# Total number of people is 2700
# Total number of images is 18900
# Minimum height for dataset is 160
# Maximum height for dataset is 489
# Average height for dataset is 260
# Minimum width for dataset is 118
# Maximum width for dataset is 362
# Average width for dataset is 199
# RGB Mean: [0.51616962 0.46147237 0.43164007]
# RGB Standard Deviation: [0.23413204 0.23712305 0.24570843]

## EDA Cropped Evaluation Dataset

In [ ]:
# LOAD CROPPED IMAGES
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt 
import cv2

# make evaluation folder
CROPPED_EVAL_IMGS_DATASET_PATH = './input/data/eval/cropped_images'

if not os.path.exists(CROPPED_EVAL_IMGS_DATASET_PATH):
  os.mkdir(CROPPED_EVAL_IMGS_DATASET_PATH)

# iterrate rows for the given evaluation dataset
for index, row in tqdm(df_eval_image.iterrows()):
  # read stored data 
  ImageID = str(row["ImageID"])
  ans = str(row["ans"])
  xmin = int(row["xmin"])
  ymin = int(row["ymin"])
  xmax = int(row["xmax"])
  ymax = int(row["ymax"])

  # place cropped image under new folder
  image_file_path = os.path.join(EVAL_IMGS_DATASET_PATH,ImageID)
  image = cv2.imread(image_file_path)
  # image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB) # omit BGR2RGB process: not using mtcnn

  # prevent tile out of box error
  if xmin<0:xmin=0
  if ymin<0:ymin=0
  if xmax>384:xmax=384
  if ymax>512:ymax=512

  # crop and save cropped images
  cropped_img = image[ymin:ymax, xmin:xmax, :] # y axis, x axis, all 3 channels
  # print(profile_name, image_name)
  image_name = image_file_path.split("/")[-1]
  cv2.imwrite(os.path.join(CROPPED_EVAL_IMGS_DATASET_PATH, image_name), cropped_img)

In [ ]:
# check whether it is cropped properly: 12600 images total
image_paths = [os.path.join(EVAL_IMGS_DATASET_PATH, img_id) for img_id in df_eval_image["ImageID"]]
len(image_paths)

In [ ]:
import os
import sys

import glob
from PIL import Image

def get_eval_img_stats(img_dir, img_ids):
    """
    데이터셋에 있는 이미지들의 크기와 RGB 평균 및 표준편차를 수집하는 함수입니다.
    
    Args:
        img_dir: 학습 데이터셋 이미지 폴더 경로 
        img_ids: 학습 데이터셋 하위폴더 이름들

    Returns:
        img_info: 이미지들의 정보 (크기, 평균, 표준편차)
    """
    img_info = dict(heights=[], widths=[], means=[], stds=[])
    for img_id in tqdm(img_ids):
        path = os.path.join(img_dir, img_id)
        img = np.array(Image.open(path))
        h, w, _ = img.shape
        img_info['heights'].append(h)
        img_info['widths'].append(w)
        img_info['means'].append(img.mean(axis=(0,1)))
        img_info['stds'].append(img.std(axis=(0,1)))
    return img_info


img_info = get_eval_img_stats(CROPPED_EVAL_IMGS_DATASET_PATH, df_eval_image["ImageID"].values)

In [ ]:
print(f'Total number of people is {len(df_eval_image)}')

print(f'Minimum height for dataset is {np.min(img_info["heights"])}')
print(f'Maximum height for dataset is {np.max(img_info["heights"])}')
print(f'Average height for dataset is {int(np.mean(img_info["heights"]))}')
print(f'Minimum width for dataset is {np.min(img_info["widths"])}')
print(f'Maximum width for dataset is {np.max(img_info["widths"])}')
print(f'Average width for dataset is {int(np.mean(img_info["widths"]))}')

print(f'RGB Mean: {np.mean(img_info["means"], axis=0) / 255.}')
print(f'RGB Standard Deviation: {np.mean(img_info["stds"], axis=0) / 255.}')

# Total number of people is 12600
# Minimum height for dataset is 99
# Maximum height for dataset is 454
# Average height for dataset is 265
# Minimum width for dataset is 127
# Maximum width for dataset is 354
# Average width for dataset is 205
# RGB Mean: [0.53087462 0.45734182 0.42477556]
# RGB Standard Deviation: [0.23390616 0.2311533  0.23603857]